<main class="my-5">
    <div class="container">
        <!--Section: Content-->
        <section class="text-center">
            <h4 class="mb-4"><strong>-</strong></h4>
            <div class="row">
                <div class="col-lg-1 mb-4"></div>
                <div class="col-lg-10 mb-4">
                    <div class="row">
                        <section class="section dashboard">
                            <div class="row">
                                <!-- Left side columns -->
                                <div class="col-lg-12">
                                    <div class="row">

                                        <!-- Sales Card -->
                                        <div class="col-xxl-6 col-md-6">
                                            <div class="card info-card revenue-card">
                                                <div class="card-body">
                                                    <h5 class="card-title text-success">Hausse <span>| 24h</span></h5>

                                                    <div class="d-flex align-items-center">
                                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                            <i class="bi bi-graph-up-arrow text-success"></i>
                                                        </div>
                                                        <div id="hausse" class="ps-3">

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End Sales Card -->

                                        <!-- Revenue Card -->
                                        <div class="col-xxl-6 col-md-6">
                                            <div class="card info-card customers-card">

                                                <div class="card-body">
                                                    <h5 class="card-title text-danger">Baisse <span>| 24h</span></h5>

                                                    <div class="d-flex align-items-center">
                                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                            <i class="bi bi-graph-down-arrow text-danger"></i>
                                                        </div>
                                                        <div id="baisse" class="ps-3">

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End Revenue Card -->
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="accordion" id="accordionPanelsStayOpenExample">

                    </div>
                </div>
                <div class="col-lg-1 mb-4"></div>
            </div>
        </section>
    </div>
</main>