<div *ngIf="affiche; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <ngx-tweet [tweetId]="idTweet1"></ngx-tweet>
</ng-template>
<ng-template #elseBlock>
    <p>chargement du tweet n°1...</p>
</ng-template>
<div *ngIf="affiche; then thenBlock2 else elseBlock2"></div>
<ng-template #thenBlock2>
    <ngx-tweet [tweetId]="idTweet2"></ngx-tweet>
</ng-template>
<ng-template #elseBlock2>
    <p>chargement du tweet n°2...</p>
</ng-template>
<div *ngIf="affiche; then thenBlock3 else elseBlock3"></div>
<ng-template #thenBlock3>
    <ngx-tweet [tweetId]="idTweet3"></ngx-tweet>
</ng-template>
<ng-template #elseBlock3>
    <p>chargement du tweet n°3...</p>
</ng-template>