<header id="header" class="header fixed-top d-flex align-items-center">

	<div class="d-flex align-items-center justify-content-between">
		<a href="index.html" class="logo d-flex align-items-center">
			<img src="assets/img/logo.png" alt="">
			<span class="d-none d-lg-block">Cryptodoggo</span>
		</a>
	</div><!-- End Logo -->

	<nav class="header-nav ms-auto">
		<ul class="d-flex align-items-center">
			<li>
				<button type="button" class="btn btn-white button-spotify" data-bs-toggle="modal"
					data-bs-target="#exampleModal"><i class="bi bi-spotify bg-red fa-2x"></i></button>
			</li>

			<li>
				<a class="nav-link nav-icon">
					<i class="bi bi-moon-fill text-dark fa-lg"></i>
				</a>
			</li>
		</ul>
	</nav>

</header>


<div id="exampleModal" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Choisissez votre musique</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<app-spotify></app-spotify>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>