<footer class="bg-dark text-center text-white">
	<!-- Grid container -->
	<div class="container p-4 pb-0">
		<!-- Section: Social media -->
		<section class="mb-4">

			<!-- Twitter -->
			<a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/cryptodoggo5" role="button">
				<fa-icon [icon]="['fab', 'twitter']"></fa-icon>
			</a>

			<!-- Google -->
			<a class="btn btn-outline-light btn-floating m-1" href="mailto:cryptodoggo.off@gmail.com" role="button">
				<fa-icon [icon]="['fas', 'envelope']"></fa-icon>
			</a>

			<!-- Instagram -->
			<a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/cryptodoggo.off/" role="button">
				<fa-icon [icon]="['fab', 'instagram']"></fa-icon>
			</a>

			<!-- Github -->
			<a class="btn btn-outline-light btn-floating m-1" href="https://github.com/SonexGit/cryptodoggo" role="button">
				<fa-icon [icon]="['fab', 'github']"></fa-icon>
			</a>
		</section>
		<!-- Section: Social media -->
	</div>
	<!-- Grid container -->

	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		© 2022 Copyright:
		<a class="text-white" href="#">Cryptodoggo</a>
	</div>
	<!-- Copyright -->
</footer>