:root {
    --dark-color: #00152c;
    --light-dark-color: #002752;
}

.wrapper:after {
	filter: invert(100%) hue-rotate(0deg) brightness(0.8);
}

.header {
    background-color: var(--dark-color) !important;
}

#loadingBar {
    background-color: var(--dark-color) !important;
}

.bi {
    color: white;
    fill: white;
}

.card {
    background-color: var(--dark-color) !important;
}

.carteHausse {
    background-color: var(--light-dark-color) !important;
}

.carteBaisse {
    background-color: var(--light-dark-color) !important;
}

/* Ligne cryptomonnaies */

.accordion-item {
    color: white;
    background-color: var(--light-dark-color) !important;
}

.accordion-button {
    background-color: var(--dark-color) !important;
}

.accordion-item td {
    color: white;
}

.legendSymbol {
    color: rgb(200, 200, 200) !important;
}

.legendHeader {
    color: rgb(200, 200, 200) !important;
}

.red-variation {
    color: red !important;
}

.green-variation {   
    color: #38B262 !important;
}

.accordion-button::after {
    filter: invert();
}

.pb {
    background-color: #3a86ff;
}

.logo {
	content: url("img/logo_dark.png");
}