@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Ajout style sur accordion */

.accordion-item:first-of-type {
    border-top-left-radius: 0.75rem !important;
    border-top-right-radius: 0.75rem !important;
}

.accordion-item:first-of-type .accordion-button {
	border-top-left-radius: calc(0.75rem - 1px);
	border-top-right-radius: calc(0.75rem - 1px);
}

.accordion-item:last-of-type {
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: calc(0.75rem - 1px);
    border-bottom-left-radius: calc(0.75rem - 1px);
}

.accordion-button {
	font-size: 20px;
	font-weight: 500;
	font-family: 'Inter', sans-serif;
	color: #303030;
}

/* Style tableau intérieur accordion */

.header-left {
	display: flex;
	float: left;
	width: 60%;
	height: 100%;
	text-align: left;
}

.header-left td {
	padding-left: 1vw;
	min-width: 70px;
}

.header-right {
	float: right;
	width: 35%;
	height: 100%;
	text-align: right;
}

.header-right tr {
	text-align:right;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

.header-right td {
	text-align:left;
	min-width: 8vw;
	max-width: 8vw;
}

.header-right td:last-of-type {
	min-width: 7vw;
	text-align: right;
}

.red-variation {
	font-weight: 500;
	color: red;
}

.green-variation {
	font-weight: 500;
	color: #38B262;
}

.legendHeader {
	color: #575757;
	display:inline-block;
	font-size: 17px;
	margin: 0;
	margin-right: 9px;
}

.legendSymbol {
	color: #a09f9f;
	font-size: 13px;
	margin-right: 9px;
}

.listDate {
	list-style-type: none;
	position: relative;
	display: inline-block;
	background-color: #f1c232;
	border-radius: 100px;
	padding: 8px 8px 8px 8px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: white;
	user-select: none;
	margin-left: 5px;
}

.listDateActive {
	background-color: #444444;
	color: white;
	border-radius: 100px;
}

.listDateActive:hover {
	background-color: #444444;
	color: white;
	border-radius: 100px;
	cursor: initial;
}

.listDate li {
	transition: 0.2s ease-in-out;
	display: inline;
	padding: 2px 8px 2px 8px;
	margin-left: 2px;
	margin-right: 2px;
}

.listDate li:hover {
	transition: .1s ease-in-out;
	background-color: white;
	color: #444444;
	border-radius: 100px;
	cursor: pointer;
}

html {
	scroll-padding-top: 12rem !important; 
}

@keyframes border-highlight {
	from {
		/* box-shadow: 0px 0px 0px 0px orange inset; */
		background-color: none;
	}

	to {
		/* box-shadow: 0px 0px 0px 3px orange inset; */
		background-color: rgba(255, 217, 0, 0.5);
	}
}

:target .accordion-button {
	animation: 1s ease-in-out 4 alternate border-highlight;
	box-sizing: border-box;
}

.variationCrypto p {
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

.carteHausse {
	transition: .1s ease-in-out;
	color: #38B262;
}

.carteHausse:hover {
	transition: .1s ease-in-out;
	transform: scale(1.1);
}

.carteBaisse {
	transition: .1s ease-in-out;
	color: red;
}

.carteBaisse:hover {
	transition: .1s ease-in-out;
	transform: scale(1.1);
}